.wrapper{
    width: 70%;
    height: 30rem;
    margin: 0 auto;
    background-color: #444;
    display: flex;
    flex-direction: column;
}

.formResult{
    flex-basis: 20%;
    background-color: #555;
    color: white;   
    text-align: center;
}

.mainList{
    list-style-type: none;
    flex-basis: 80%;
    padding: 0;
    margin: 0;
}